.switch {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-second {
  position: fixed;
  bottom: 70px; /* Ajuste para garantir que não sobreponha o primeiro switch */
  left: 20px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input,
.switch-second input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000; /* Cor do background do slider */
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-second .slider {
  background-color: #007BFF; /* Cor diferente para o segundo switch */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white; /* Cor do círculo do slider */
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-second .slider:before {
  background-color: #FFD700; /* Cor diferente para o círculo do segundo switch */
}

input:checked + .slider {
  background-color: #000000; /* Cor do background quando ativado */
}

.switch-second input:checked + .slider {
  background-color: #0056b3; /* Cor diferente quando ativado */
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000; /* Sombra para foco */
}

.switch-second input:focus + .slider {
  box-shadow: 0 0 1px #0056b3; /* Sombra diferente para foco */
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px); /* Mover o círculo para a direita quando ativado */
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px; /* Arredondamento das bordas do slider */
}

.slider.round:before {
  border-radius: 50%; /* Arredondamento do círculo dentro do slider */
}
